# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [39]:
# Your code here
import pandas as pd

df=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [45]:
df.sample(10)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
2158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,PY70169,Oregon,NaN,High School or Below,2264383.48%,93011.0,113.0,1/0/00,Personal Auto,SUV,281.451042
2785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,KC17170,Arizona,F,Bachelor,546560.40%,54422.0,68.0,1/0/00,Corporate Auto,Four-Door Car,75.501852
311,UA94723,Oregon,F,High School or Below,442803.16%,58577.0,110.0,1/0/00,Personal Auto,SUV,303.872752

Identify the dimensions of the dataset by determining the number of rows and columns it contains.

In [21]:
df.shape

(4008, 11)

Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

In [26]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [ ]:
# Attributes to change:
    # Costumer lifetime value: from str to float64
    # Number of open complaints: from str to float64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [207]:
df.columns=[column.upper().replace(" ","_") for column in df.columns]

De las 4008 pólizas registradas, observamos que, en el mejor de los casos, hay que 1071 registros con valores no nulos. Comprobaremos si a partir de la fila 1072, todos los valores son nulos (como hipótesis, no lo sabemos)

In [210]:
df.GENDER.unique() ## Hay que limpiar este registro

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [212]:
df.GENDER.value_counts() ## vemos que están a la par respecto al género

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [214]:
df["VEHICLE_CLASS"].unique() ## Estaría bien clasificado

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [90]:
df["VEHICLE_CLASS"].value_counts()

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

Vemos que el tipo de coche más asegurado son los coches de 4 puertas, seguidos de los coches de dos puertas y los SUVs. Sensiblemente menores son los coches deportivos y de lujo, como se cabría esperar.

In [216]:
df.EDUCATION.unique() ## Hay que unificar Bachelor= Bachelors

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [218]:
df.EDUCATION.value_counts()

EDUCATION
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

El background en estudios más numeroso es Bachelor, seguido de College y High School or Below, aunque los tres están cercanos al tercio de la muestra (muy repartidos)

In [97]:
df.ST.value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

Vemos que el estado con más representación es Oregón, seguido de Arizona (145) y California (331)

In [68]:
df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [222]:
df["CUSTOMER_LIFETIME_VALUE"]=df["CUSTOMER_LIFETIME_VALUE"].str.replace("%","",regex=False)

AttributeError: Can only use .str accessor with string values!

In [224]:
df["CUSTOMER_LIFETIME_VALUE"]=df["CUSTOMER_LIFETIME_VALUE"].astype(float)

In [78]:
df.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1.068000e+03,1071.000000,1071.000000,1071.000000
mean,7.936903e+05,39295.701214,193.234360,404.986909
std,6.434784e+05,30469.427060,1601.190369,293.027260
min,2.004351e+05,0.000000,61.000000,0.382107
25%,4.034080e+05,14072.000000,68.000000,202.157702
50%,5.881742e+05,36234.000000,83.000000,354.729129
75%,8.962872e+05,64631.000000,109.500000,532.800000
max,5.816655e+06,99960.000000,35354.000000,2893.239678

La varianza es brutal en "Monthly Premium Auto", indicando valores extremos que la empujan, aunque estos representan muy poco porcentaje del total, pero sin embargo son muy grandes en cantidad de dinero. 

La varianza es menor en "Total Claim Amount", ya que la desviación estándar es la mitad que menor a un cuarto de la media. Vemos además que los valores extremos no están tan alejados del 75% de la muestra.

La varianza en "Income" es bastante alta, aunque los datos extremos siguen sin alejarse mucho

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [133]:
# Your code here
df["ST"].value_counts(ascending=True)

ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

In [226]:
df["ST"]= df["ST"].replace("AZ","Arizona").replace("WA","Washington").replace("Cali","California")

In [228]:
df["ST"].value_counts()

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [230]:
# Your code here
df.head()

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,NUMBER_OF_OPEN_COMPLAINTS,POLICY_TYPE,VEHICLE_CLASS,TOTAL_CLAIM_AMOUNT
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [232]:
df["POLICY_TYPE"].value_counts()

POLICY_TYPE
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [234]:
total_pol=sum(list(df["POLICY_TYPE"].value_counts()))

In [236]:
print(f"The total number of policies sold is {total_pol}")

The total number of policies sold is 1071

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [238]:
df.columns=[column.upper().replace(" ","_") for column in df.columns]

In [244]:
# Your code here
df_p_a=df[df.POLICY_TYPE=="Personal Auto"]

In [246]:
df_c_a=df[df.POLICY_TYPE=="Corporate Auto"]

In [248]:
df_p_a.describe()

,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,TOTAL_CLAIM_AMOUNT
count,7.770000e+02,780.000000,780.000000,780.000000
mean,8.029599e+05,38180.698718,185.701282,404.820615
std,6.493341e+05,29952.165621,1389.378065,286.640319
min,2.004351e+05,0.000000,61.000000,0.382107
25%,4.165167e+05,12096.000000,68.000000,213.016744
50%,5.928748e+05,35211.500000,82.000000,350.626994
75%,9.095745e+05,62774.000000,109.000000,529.200000
max,5.816655e+06,99790.000000,35354.000000,2893.239678

In [250]:
df_c_a.describe()

,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,TOTAL_CLAIM_AMOUNT
count,2.340000e+02,234.000000,234.000000,234.000000
mean,7.674441e+05,41390.311966,243.683761,415.606539
std,5.958606e+05,31708.868459,2305.259851,312.682978
min,2.163870e+05,0.000000,61.000000,5.395300
25%,3.854418e+05,16325.500000,68.000000,203.506316
50%,5.553663e+05,39155.500000,85.000000,376.720392
75%,8.672221e+05,69843.000000,110.000000,537.600000
max,3.605754e+06,99960.000000,35353.000000,2345.413441

In [252]:
print(df_c_a["INCOME"].mean())

41390.31196581197

In [254]:
print(df_p_a["INCOME"].mean())

38180.69871794872

Vemos que la media de ingresos de los que tienen "Personal Auto" es de 38180 dólares, mientras que la de los que tienen la póliza "Corporate Auto" es de "41390 dólares

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [256]:
# Your code here
df["TOTAL_CLAIM_AMOUNT"].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: TOTAL_CLAIM_AMOUNT, dtype: float64

In [274]:
df_high_claim=df[df["TOTAL_CLAIM_AMOUNT"]>532]

In [276]:
df_high_claim.describe()

,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,TOTAL_CLAIM_AMOUNT
count,2.730000e+02,273.000000,273.000000,273.000000
mean,9.183794e+05,24106.545788,163.000000,774.005353
std,6.582582e+05,27542.717560,613.645376,291.304731
min,2.287597e+05,0.000000,63.000000,532.800000
25%,4.747735e+05,0.000000,99.000000,595.200000
50%,7.859415e+05,18846.000000,113.000000,673.342650
75%,1.065688e+06,44897.000000,133.000000,844.481918
max,4.022401e+06,99316.000000,10202.000000,2893.239678